html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    font-family: sans-serif;
}

/* Main text formatting */
.main {
    text-align: left;
    color: white;
    -ms-flex: 70%; /* IE10 */
    flex: 70%;
}

/* About section formatting */
.about {
    text-align: center;
    color: black;
}

/* Header */
.header {
    padding: 10px 10px 10px 30px;
    text-align: left;
    background: #111;
    color: white;
}

/* Right-aligned page link */
a.right {
    float: right;
    overflow: hidden;
    background-color: #111;
    color: white;
    top: 0;
    padding-left: 20px;
    padding-right: 30px;
    padding-top: 12.5px;
    font-size: 0.5em;
    text-decoration: none !important;
}

/* Entire left-side (section with all room related content)*/
.room{
    float: left;
    margin-left: 35px;
    margin-top: 35px;
}

/* Join and Create Chat room Button */
.button {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: white;
    background-color: black;
    border: none;
    border-radius: 15px;
}

/* Enter room button*/
.button_2 {
    display: inline-block;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: black;
    border: 10px;
    padding: 4px 5px;
    margin-left: 10px;
}

/*Send chat button*/
.button_3{
    margin-left: 300px;
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: white;
    background-color: black;
    border: none;
}

/* Refresh button */
.button_4{
    display: inline-block;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: black;
    border: 10px;
    padding: 5px 10px;
}

/* On hover effect */
.button:hover {opacity: 0.6}
.button_2:hover {opacity: 0.6}
.button_3:hover {opacity: 0.6}
.button_4:hover {opacity: 0.6}

/* Chat box */
.chat {
    display: block;
    width: 84.25%;
    height: 600px;
    resize: none;
    margin-left: 300px;
    padding: 0;
    border-width: 1px 1px 1px 1px;
}

/* Chat input */
.input {
    display: block;
    width: 84.25%;
    border-width: 5px 1px 0 1px;
    border-color: #111111;
    margin-left: 300px;
    resize: none;
    padding: 0;
}
